# ==========================================
# EventPass - Variables de entorno
# ==========================================

# n8n
N8N_BASE_URL=http://localhost:5678

# Webhooks
N8N_CATALOGO_WEBHOOK=/webhook/catalogo
N8N_INSCRIPCIONES_WEBHOOK=/webhook/inscripciones

# Google Sheets
GOOGLE_SHEETS_ID=

# Gmail
GMAIL_FROM=

# Telegram
TELEGRAM_BOT_TOKEN=

# IA
GEMINI_API_KEY=

# Frontend
FRONTEND_URL=http://127.0.0.1:5500